<div class="blurry">
    <div class="card in-card-back moving-animation border border-white card-position" style="position: absolute;">
        <div class="card-body text-center  pt-5">
            <img src="{{modalContent.gifUrl}}" class="rounded">
            <h5 class="card-title title-font px-1 text-dark pt-4 title-font">{{modalContent.textContent}}</h5>
            <div class="d-flex">
                <div class="col-sm px-1 text-center pt-2">
                    <button class="btn btn-success text-light fav-icon" (click)="closeModal()">Ok!</button>
                </div>
            </div>
        </div>
    </div>
</div>
