.center-content {
    text-align: center;
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-width {
    width: 35%;
    text-align: center;
}

.responsive-image {
    width: 100%;
    height: auto;
}