<ul *ngIf="results && !pokemonFound">
    <li style="list-style-type: none;">
        <app-pokemon-card [results]="results" [currentPage]="currentPage()"></app-pokemon-card>
    </li>
</ul>
<div class="text-center center-block" *ngIf="pokemonFound">

</div>
<div *ngIf="pokemonFound">
    <div class="row h-100 text-center" style="margin-top: 6rem;">
        <div class="col-sm-12 my-auto">
            <h1 class="text-white">There's no Pokemon with this name!</h1>
        </div>
    </div>
</div>
<app-confirmation-modal></app-confirmation-modal>