<div *ngIf="pokemonFound && !results" class="text-white center-content">
    <h5>Serach Pokemons!</h5>
    <div class="text-width">
        <p>Pokémon is short for “Pocket Monsters", the original Japanese name.
            The franchise has its roots in a gaming magazine in the early 1980s in Japan—Game Freak,
             started by Satoshi Tajiri and Ken Sugimori
       </p>
       <img src="https://i.pinimg.com/originals/9f/b1/25/9fb125f1fedc8cc62ab5b20699ebd87d.gif" alt="Running Pikachu">
    </div>
</div>
<ul *ngIf="results && pokemonFound">
    <li style="list-style-type: none;">
        <app-pokemon-card [results]="results" [currentPage]="currentPage()"></app-pokemon-card>
    </li>
</ul>
<div *ngIf="!pokemonFound">
    <app-confirmation-modal [modalContent]="modalContent"></app-confirmation-modal>
</div>