<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/home">
            <img src="../../assets/pokeIcon_32x32.png" class="navbar-brand px-4"/>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/home" class="nav-item nav-link">Home</a>
                <a href="/pokemons/favorites" class="nav-item nav-link">Favorites</a>
            </div>
            <div class="navbar-nav ms-auto" *ngIf="currentPage() === '/'">
                <!-- <form class="d-flex"> -->
                    <div class="input-group">                    
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Search"
                            (keyup.enter)="searchPk()"
                            #txtSearchPk
                        />
                        <!-- <button type="button" class="btn btn-secondary btn-search">
                            Search
                        </button> -->
                    </div>
                <!-- </form> -->
            </div>
        </div>
    </div>
</nav>