<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
    <div class="container-fluid">
        <a [routerLink]="['/home']">
            <img src="../../assets/pokeIcon_32x32.png" class="navbar-brand px-4"/>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a [routerLink]="['/home']" class="nav-item nav-link">Home</a>
                <a [routerLink]="['/pokemons/favorites']" class="nav-item nav-link">Favorites</a>
                <a [routerLink]="['/pokemons/random', getRandomNumber()]"  class="nav-item nav-link">¡Random!</a>
            </div>
            <div class="navbar-nav ms-auto" *ngIf="currentPage() === '/'">
                <!-- <form> -->
                    <div class="input-group">                    
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Search"
                            (keyup.enter)="searchPk()"
                            #txtSearchPk
                        />
                        <button type="button" class="btn btn-secondary btn-search" (click)="searchPk()">
                            Search
                        </button>
                    </div>
                <!-- </form> -->
            </div>
        </div>
    </div>
</nav>