.card-background {
    background-color: greenyellow;
    border-bottom-right-radius: 300px;
    border-bottom-left-radius: 300px;
}
.in-card-back {
    background: linear-gradient(to bottom right,#024,#402);
}