.title-font {
    font-family: 'Press Start 2P', cursive;  
}
.responsive {
    width: 100%;
    height: auto;
}
.pl-10 {
    padding-left: 15vh;
}
.pt-bar{
    padding-top: 6px;
    animation: animatedBar;
    animation-duration: 1s;
}
.position-auto{
    margin: 0 auto;
}
@media only screen and (max-width: 480px) {
    .mobile-text-center {
      margin: 0 auto;
    }
    .mobile-title-position {
        margin-left: 5vh;
    }
}
@keyframes animatedBar {
    from {
        transform: translateY(-100%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
}
@-webkit-keyframes animatedBar {
    from {
        transform: translateY(-100%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
}