<app-spinner *ngIf="!pokemon && !isErrorPage; else divPokemon"></app-spinner>

<app-error-page *ngIf="isErrorPage && !pokemon"></app-error-page>

<ng-template #divPokemon>
    <div>
        <div class="h-100 d-flex flex-wrap">
            <div class="position-auto">
                <div>
                    <img class="responsive" src="{{pokemon.sprites.other['official-artwork'].front_default}}" alt="pokemon image">
                </div>
                <div class="text-light text-center title-font">
                    <h4>{{pokemon.species.name | titlecase}}</h4>
                    <p>Pokédex N° {{pokemon.id}}</p>
                </div>
            </div>
            <div class="d-flex flex-column mx-auto">
                <div class="d-flex flex-row justify-content-evenly">
                    <div class="text-light px-2 rounded py-4 mobile-title-position" *ngIf="pokemon.sprites.front_default">
                        <p class="title-font text-light py-2">Front Sprites</p>
                        <div class="d-flex">
                            <div class="text-center">
                                <img class="responsive" src="{{pokemon.sprites.front_default}}" alt="front pokemon image">
                                <p>Normal</p>
                            </div>
                            <div class="px-2 text-center">
                                <img class="responsive" src="{{pokemon.sprites.front_shiny}}" alt="front shiny pokemon image">
                                <p>Shiny</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-light h-100 px-2 rounded py-4" *ngIf="pokemon.sprites.back_default">
                        <p class="title-font text-light py-2">Back Sprites</p>
                        <div class="d-flex">
                            <div class="text-center">
                                <img class="responsive" src="{{pokemon.sprites.back_default}}"  alt="back pokemon image">
                                <p>Normal</p>
                            </div>
                            <div class="px-2 text-center">
                                <img class="responsive" src="{{pokemon.sprites.back_shiny}}" alt="back shiny pokemon image">
                                <p>Shiny</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-white d-flex mobile-text-center">
                    <label>{{pokemon.types.length | i18nPlural:clientesMapa }}</label>
                    <div *ngFor="let type of pokemon.types">
                        <div class="col-sm px-2">
                            <p>{{type.type.name | titlecase}}</p>
                        </div>
                    </div>
                </div>
                <div class="text-white d-flex mobile-text-center">
                    <div class="pe-2">
                        <p>Base Experience: {{pokemon.base_experience}}</p>
                    </div>
                    <div class="pt-bar">
                        <div class="rounded" [ngStyle]="{'width.px': pokemon.base_experience/3}" style="height: 10px; background-color: #f2f211;">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="text-white d-flex mobile-text-center">
                    <div class="pe-2">
                        <p>Height: {{pokemon.height}}</p>
                    </div>
                    <div class="pt-bar">
                        <div class="rounded" [ngStyle]="{'width.px': pokemon.height*5}" style="height: 10px; background-color: aqua;">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="text-white d-flex mobile-text-center">
                    <div class="pe-2">
                        <p>Weight: {{pokemon.weight}}</p>
                    </div>
                    <div class="pt-bar">
                        <div class="rounded" [ngStyle]="{'width.px': pokemon.weight/3}" style="height: 10px; background-color: #ed9eec;">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-template>